/* #region reset settings */
/* Reset settings */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* #endregion */

/* #region general styles */
body {
  background-color: #eff1ed;
  color: #292929;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}
/* #endregion */

.title {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
}

.menu__text {
  text-align: center;
  margin-bottom: 24px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu__list-item {
  max-width: 400px;
  align-content: center;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  background-color: white;
}

.menu__link {
  display: block;
  color: #292929;
  font-weight: 500;
  padding: 16px 4px;
}

/* #region general styles pages */
.menu-page {
  margin-bottom: 48px;
}

.menu-page__link {
  color: #292929;
  font-weight: 500;
}

.card-object__option {
  align-content: center;
}

.card-object__item {
  display: flex;
  justify-content: space-between;
}

.card-object__item:not(:last-child) {
  margin-bottom: 40px;
}

.card-object__link {
  display: block;
  width: 100px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.65);
  color: blue;
  background-color: white;
}
/* #endregion */
